*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(220, 220, 240);
  --color-secondary: rgb(221, 221, 221);
  --red: #ec1839;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

#root {
  background-color: var(--color-primary);
  @include flexbox;
}

.section {
  width: 100%;
  min-height: 100vh;
  @include flexbox;
  animation: sectionChange 0.5s ease-in;
  font-size: 40px;
}
