*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-1: #35363a;
  --dark-2: #262728;
  --white: #f0f0f0;
  --white-light-1: #dedede;
  --green: rgb(18, 156, 0);
  --sayan: rgb(112, 112, 112);
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: var(--white-light-1);
  background-color: #0e0e0e;
  font-family: "Roboto Slab", serif;
}

#root {
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--dark-2);
  @include flexbox;
  flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.section {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  animation: sectionChange 1s ease-in-out;
}

.section-wrapper {
  padding: 5rem 0;
}
