.about {
  &__section-name {
    margin-bottom: 3rem;
    h1 {
      font-size: 4rem;
    }
    span {
      background-color: var(--green);
      height: 5px;
      display: block;
      margin-bottom: 8px;
      border-radius: 50px;

      &:nth-child(2) {
        width: 100px;
      }

      &:last-child {
        width: 50px;
      }
    }
  }

  &__info {
    word-spacing: 3px;
    color: var(--white);
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}
