.about {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
    // align-items: flex-start;
    flex-direction: row-reverse;

    @media (max-width: 900px){
      flex-direction: column-reverse;
      justify-content: center;    
    }
  }

  &__info {
    color: var(--white);
    padding: 2rem;
    border-radius: 5px;
    @include boxshadow;
    
    h2 {
      font-size: clamp(2.3rem, 5vw, 2.5rem);
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: var(--white-light-1);
       @media (max-width:1400px ){
          font-size: 1.3rem;
      }
      
    }
  }

  &__more-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 5px;
    @include boxshadow;

    @media (max-width: 900px) {
      width: 100%;
    }

    .col {
      width: 50%;
      margin: 1rem 0;

      

      p{
        display: flex;
        @media (max-width: 1430px) {
          flex-direction: column;
        }

        span {
          font-weight: 300;      
        
          &:nth-child(1) {
            font-weight: 400;
            font-family: "Roboto Slab", serif;
            font-size: 1.4rem;
          }

          &:nth-child(2) {
            padding-left: 5px;
            font-size: 1.6rem;
            
            @media (max-width: 1430px) {
              padding-left: 0px;
            }

            @media (max-width: 700px) {
              font-size: 1.6rem;
            }

            @media (max-width: 500px) {
              font-size: 1.3rem;
            }
          }
        }
      }

      
    }
  }

  &__education {
    width: 48%;
    padding: 2rem;
    @include boxshadow;

    @media (max-width: 1555px) {
      width: 48%;
    }

    @media (max-width: 900px) {
      width: 100%;
    }

    .education-years {
      border-left: 4px solid var(--green);
      padding-left: 2rem;
      position: relative;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: 400;

      
    }

    .years {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      &:last-child {
        padding-bottom: 2rem;
      }
      h4 {
        font-weight: 200;
        font-size: 1.6rem;
        color: var(--white);
        

        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: var(--green);
          left: -1.2rem;
        }
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: var(--white);

        @media (max-width:1400px ){
          font-size: 1.6rem;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 300;
        @media (max-width:1400px ){
          font-size: 1.3rem;
        }
      }
    }
  }

  &__more-info-and-btns {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1555px) {
      width: 48%;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin-top: 4rem;
    }
  }

  &__btns {
    width: 100%;
    height: 60%;
    @include flexbox;
    justify-content: space-evenly;
    // @include boxshadow;
    margin-top: 4rem;

    a {
      text-decoration: none;
      appearance: none;
      outline: none;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.3);
      padding: 1.5rem 2.5rem;
      color: var(--white);
      font-size: 1.6rem;
      border-radius: 50px;
      transition: 0.25s;

      @media(max-width:1400px){
        font-size: 1.4rem;
        padding: 1rem 2rem;
      }

      @media(max-width:500px){
        font-size: 1rem;
        padding: 1rem 1.5rem;
      }

      &:hover {
        background-color: var(--green);
        // border: 2px solid var(--green);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
