.about {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
    // align-items: flex-start;
    flex-direction: row-reverse;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__info {
    color: var(--white);
    padding: 2rem;
    border-radius: 5px;
    @include boxshadow;
    @include flexbox;
    justify-content: space-evenly;

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }

    .img {
      img {
        height: 15rem;
        margin-right: 3rem;
        @media (max-width: 900px) {
          border-radius: 50%;
        }
      }

      @media (max-width: 900px) {
        margin-bottom: 4rem;
      }
    }

    .info {
      line-height: 2.5rem;
      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--white-light-1);
      }
    }
  }

  &__more-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 5px;
    @include boxshadow;

    @media (max-width: 900px) {
      width: 100%;
    }

    .col {
      width: 50%;
      margin: 1rem 0;

      p {
        display: flex;
        @media (max-width: 1430px) {
          flex-direction: column;
        }

        span {
          font-weight: 300;

          &:nth-child(1) {
            font-weight: 400;
            font-family: "Roboto Slab", serif;
            font-size: 1.4rem;
          }

          &:nth-child(2) {
            padding-left: 5px;
            font-size: 1.6rem;

            @media (max-width: 1430px) {
              padding-left: 0px;
            }

            @media (max-width: 700px) {
              font-size: 1.6rem;
            }

            @media (max-width: 500px) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  &__education {
    width: 48%;
    padding: 2rem;
    @include boxshadow;

    @media (max-width: 1555px) {
      width: 48%;
    }

    @media (max-width: 900px) {
      width: 100%;
    }

    .education-years {
      border-left: 4px solid var(--green);
      padding-left: 2rem;
      position: relative;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    .years {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      &:last-child {
        padding-bottom: 2rem;
      }
      h4 {
        font-weight: 200;
        font-size: 1.6rem;
        color: var(--white);

        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: var(--green);
          left: -1.2rem;
        }
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: var(--white);

        @media (max-width: 1400px) {
          font-size: 1.6rem;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }

  &__more-info-and-btns {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 1555px) {
      width: 48%;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin-top: 4rem;
    }
  }

  .stay-connected {
    @include flexbox(column);
    align-items: flex-start;
    @include boxshadow;
    padding: 2rem;

    @media (max-width: 900px) {
      margin-top: 4rem;
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    .social-links {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 500px) {
        margin-top: 2rem;
      }

      & > div {
        a {
          height: 60px;
          width: 60px;
          display: flex;
          border: 2px solid var(--sayan);
          border-radius: 50%;
          padding: 2rem;
          font-size: 1.6rem;
          @include flexbox;
          transition: 0.25s;
          margin: 0 1rem;

          @media (max-width: 500px) {
            height: 50px;
            width: 50px;
            padding: 1.5rem;
          }

          i {
            display: inline-block;
            @include flexbox;
            font-size: 2.8rem;

            @media (max-width: 500px) {
              font-size: 2.4rem;
            }
          }
        }
      }
    }

    .or {
      margin: 4rem 0;
      font-size: 1.6rem;
      text-align: center;
      width: 100%;

      @media (max-width: 500px) {
        margin: 2rem 0;
      }
    }

    .send-message {
      width: 100%;
      @include flexbox;
      a {
        display: flex;
        border: 1px solid var(--sayan);
        padding: 1rem 2rem;
        border-radius: 3px;
        font-size: 1.6rem;
        transition: 0.25s;

        @media (max-width: 500px) {
          font-size: 1.3rem;
        }

        &:hover {
          background-color: var(--green);
          border: 1px solid var(--green);
        }
      }
    }
  }
}

#fb {
  a:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }
}

#insta {
  a:hover {
    background-color: #d62976;
    border: 1px solid #d62976;
  }
}

#ln {
  a:hover {
    background-color: #0e76a8;
    border: 1px solid #0e76a8;
  }
}

#gh {
  a {
    margin-right: 0rem;
  }
  a:hover {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color: black;
  }
}
