.home {
  @include flexbox(column);
  &__img {
    border-radius: 50%;
    position: relative;
    margin-bottom: 3rem;

    &::before {
      content: "";
      position: absolute;
      height: 110%;
      width: 110%;
      // border: 1rem solid var(--green);
      top: -6%;
      left: -5%;
      @include boxshadow;
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
    }
  }

  &__desc {
    max-width: 60%;
    @include boxshadow;
    padding: 2rem;

    h3 {
      font-size: 3rem;
      text-align: center;
      font-weight: 300;
    }
  }

  &__social-links {
    margin-top: 3rem;
    @include boxshadow;
    padding: 2rem;
    @include flexbox;

    a {
      @include flexbox;
      margin: 0 0.5rem;
      text-decoration: none;
      height: 60px;
      width: 60px;
      background-color: var(--green);
      border-radius: 50%;
      transition: 0.25s;

      &:hover {
        transform: scale(1.15);
        background-color: var(--white);
      }

      &:hover i {
        color: var(--green);
      }

      i {
        // transform: scale(0.8);
        font-size: 3rem;
        color: white;
        transition: 0.25s;
      }
    }
  }
}
