#nav {
  width: 20%;
  height: 100vh;
  background-color: var(--dark-1);
  @include flexbox(column);
  align-items: stretch;
  justify-content: center;

  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: 5rem;
    height: 200px;
    width: 200px;
  }

  .nav-menu {
    flex-basis: 80%;
    text-align: start;
    padding: 0 3rem;
    list-style: none;
    font-size: 2.5rem;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.144);

      a {
        text-decoration: none;
        display: block;
        color: var(--font-primary);
        padding: 1.5rem 0;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
          transform: translateX(2rem);
          color: var(--green);
        }

        &:hover .nav-icon {
          color: var(--green);
        }

        .nav-icon {
          width: 20px;
          height: 20px;
          margin-right: 2.5rem;
          transition: 0.25s;
        }
      }
    }
  }
}

#nav .nav-menu .active-nav {
  color: var(--green);
  transform: translateX(2rem);
}
