.projects {
  .projects-container {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;

    .project {
      flex-basis: 31%;
      text-align: center;
      margin-top: 4rem;
      position: relative;
      @include flexbox(column);
      align-items: stretch;

      @media (max-width: 900px) {
        flex-basis: 48%;
      }

      @media (max-width: 700px) {
        flex-basis: 100%;
      }

      padding: 2rem;
      @include boxshadow;

      img {
        width: 100%;
      }

      .desc-and-btns {
        @include flexbox(column);
        justify-content: flex-start;
      }

      .desc {
        @include flexbox(column);

        h3 {
          font-size: 2.5rem;
          text-transform: capitalize;
          margin-top: 1rem;
        }

        p {
          font-size: 1.6rem;
          font-weight: 300;

          &:nth-child(3) {
            margin: 1.5rem 0;
          }
        }
      }

      .btns {
        @include flexbox;

        a {
          display: inline-block;
          font-size: 1.4rem;
          border: 2px solid var(--sayan);
          padding: 0.5rem 1rem;
          border-radius: 10px;
          transition: 0.25s;

          &:nth-child(1) {
            margin-right: 2rem;
          }

          &:hover {
            background-color: var(--green);
            border-color: var(--green);
          }

          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
